body {
    background-image: url(/images/background.png);
}

#wechatLogo {
    background-image: url(/images/Logo.gif);
    background-size: 100%;
    width: 700px;
    height: 206px;
    margin: 0 auto;
}

#copyright {
    text-align: center;
    color: #888888;
    font-size: 12px;
}

#cnzzLink {
    display: none;
}

@media screen and (max-width: 699px) {
    #wechatLogo {
        width: 350px;
        height: 103px;
    }
}

@media screen and (max-width: 349px) {
    #wechatLogo {
        width: 175px;
        height: 51.5px;
    }
}

@media screen and (max-width: 174px) {
    #wechatLogo {
        display: none;
    }
}